.my-navbar {
    background-color: black;
    border-radius: 4px;
}

.my-anchor {
    color: white;
    text-decoration: none;
}

.pulsating-circle {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    position: relative;
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 5px green, 0 0 10px green, 0 0 15px green;

    }
    50% {
        box-shadow: 0 0 15px green, 0 0 30px green, 0 0 45px green;
    }
}

.online {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.map {
    position: absolute;
    height: 100vh;
}

html, body, #map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
}

.map {
    flex: 1;
}

/* Стили для загрузочного экрана */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loading-bar {
    width: 80%;
    height: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
}

.loading-bar div {
    height: 100%;
    width: 0;
    background-color: #1E90FF;
    border-radius: 10px;
    animation: loading 3s infinite;
}

@keyframes loading {
    0% { width: 0; }
    50% { width: 100%; }
    100% { width: 0; }
}

.btn-cont {
    background-color: black;
    border-radius: 16px;
    width: 80%;
    transition: background-color 0.3s ease;
}

.transparent {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Устанавливаем прозрачность */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #000000;
    color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
}
.modal-content button {
    margin: 10px;
}

#confirmYes, #confirmNo {
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
}

.ymaps-2-1-79-zoom {
    display: none !important;
}

.ymaps-2-1-79-controls__control {
    display: none !important;
}

.ymaps-2-1-79-copyrights-pane {
    display: none !important;
}

.overlay-profile {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: left 0.5s ease;
    z-index: 9999;
}

.overlay-profile.active {
    left: 0;
}

.modal-backdrop {
    z-index: 0 !important;
}

.ymaps-2-1-79-float-button{
    margin-top: 400px;

}

#markerComment {
    border-radius: 16px;
    color: rgb(255, 255, 255); /* Цвет текста */
    background-color: #000000;
}

#alert-div {
    background-color: #0000009b;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    position: absolute;
    top: 40%;
    height: auto;
    min-height: 90px;
    display: none;
    z-index: 9990;
    justify-content: center;
    align-items: center;
}

#alert-span {
    color: #fff;
    z-index: 9991;
}

.profile-row {
    background-color: #ffffff !important;
    border-radius: 16px;
    box-shadow: none;
}

.btn-primary {
    background: transparent !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
    border:0 !important;
}

.btn-col {
    background-image: url(../media/icon/police-lights.webp);
    background-size: cover; /* Изображение будет уменьшено или увеличено, чтобы поместиться в контейнер */
    background-repeat: no-repeat; /* Изображение не будет повторяться */
    background-position: center;
}

.ymaps-2-1-79-float-button-icon_icon_geolocation {
    background-image: url(../media/icon/map.png) !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #000000 !important;
    height: 100% !important; 
    width: 100% !important;
}

.ymaps-2-1-79-inner-panes {
    position: absolute !important;
}

.ymaps-2-1-79-controls__toolbar {
    position: absolute !important;
    bottom: 0% !important;
}

.ymaps-2-1-79-float-button {
    margin: 0 !important;
    bottom: 2% !important;
    border-color: #000000 !important;
    background-color: #000 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    width: 70px !important;
    height: 70px !important;
    border-radius: 16px !important;
}

.ymaps-2-1-79-controls-pane {
    bottom: 2% !important;
    top: unset !important;
}

.ymaps-2-1-79-controls__control_toolbar {
    position: absolute !important;
    bottom: 2%;
}

.ymaps-2-1-79-map ymaps {
    box-sizing:border-box !important;
}